
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-image: url("images/bg-img.jpeg");
    background-size: cover;
    
    
}

/* for site navigtion  start */



/* for site navigtion  end */


.form-bg{
    color: white;
     background: rgba(0, 0, 0, 0.5);
     width:fit-content;
     padding: 20px;
     margin: 20px auto ;
     display:flex;
     border-radius: 5px;
      
}
span{
    font-family: 'Lato', sans-serif;
    font-weight:200px;
    font-style: italic;
    
}

#title{
   text-align: center;
   color: white;
   
}

/* 
form styling */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: lato;
  }

  select{
    background-color: #ffffff;
    color: grey;
    font-size: 15px;
   

  }
  
  input[type=submit] {
    width: 100%;
    background-color: #37af65;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* checkbox and radio styling */


  [type=checkbox] {
   width:20px ;
   height: 20px;
  }
 
.container{
  width: 25em;
}

 