
body{
    background-color: grey;
    font-family: lato;
    margin: 0;
    
}
.nav-background{
    background-color:black;
    /* width: 100%; */
    color: white;
 
    
}

.header-nav {
display: flex;
flex-wrap: wrap;
}
.l-part {
    background-color: burlywood;
  
    
}
.r-part{
    background-color: coral;
    flex-direction: row-reverse;


}

.col-4{
    width:25%;
    
}

.col-3{
    width:33.3%;
}

.col-2{
    width:50%;
}

.col-1{
    width:100%;
}